:root {
  /* logo */
  --blue: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --light-grey: #757575;
  --dark-grey: #2f303a;
  --beige: rgba(255, 255, 255, 0.6);
  /* on all pages */
  --light: #e5e5e5;
  --creamy: #f5f4fa;
  --almost-white: #ececec;
  --white-light: #eeeeee;

  --light-grey: #757575;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--menu:hover {
  background: blueviolet;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.section-header {
  background: var(--white);
  border-bottom: 1px solid var(--almost-white);
  display: flex;
  justify-content: center;
  
}

figcaption {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--white-light);
  border-top: 0;
}

.address2 {
  display: flex;
  align-items: center;
}
.nav__container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}
.nav__container--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}


ul,
li {
  margin: 0;
  padding: 0;
}
.containerc {
  display: flex;
  justify-items: flex-end;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--light);
  color: var(--light-grey);
  text-decoration: none;
}
header {
  background: var(--white);
}
footer {
  background-color: var(--dark-grey);
}
a {
  text-decoration: none;
}
/* przyciski  w zakladce Portfolio */
.button:hover,
.button:focus {
  background-color: var(--blue);
  color: var(--white);
}
img {
  display: block;
}
/* LOGO */
.logo {
  font-weight: 700;
  background-color: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 145px;
  height: 31px;

  padding: 24px 0px 25px 0px;
  margin-right: 70px;
}
.logo-web {
  color: var(--blue);
  background-color: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03;
}

.logo > .logo-studio {
  display: flex;
  align-items: center;
}
.logo-studio {
  color: var(--black);
  background-color: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03;
  display: flex;
  align-items: center;
}
.logo-studio-footer {
  color: var(--white);
  background-color: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03;
  /* display: flex; */
}
.navigation {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  
 
  height: 16px;
  padding: 32px 0 32px 0;
}

.navigation-text{
  display: flex;
  align-items: center;
}

.navigation-link {
  /* font-family: Roboto; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02;
  color: var(--black);
  padding: 23px;
  
  
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--blue);
}
/*  podswietlenie biezacej strony - portoflio*/
.portfolio {
  color: var(--blue);
}
/*  kontakt header (mail, telefon)!*/
.mail-header {
  color: var(--light-grey);
  font-size: 14px;
  margin: 0px 50px 0px 0px;
}
.telephone-header {
  margin: 0px 21px 0px 0px;
}

.telephone-header {
  color: var(--light-grey);
  font-size: 14px;
}
/*  konktakt - telefon, mail - po najechaniu kursorem */
.mail-header:hover,
.mail-header:focus {
  color: var(--blue);
}
.telephone-header:hover,
.telephone-header:focus {
  color: var(--blue);
}
/* git */
.address {
  text-decoration: none;
  background: var(--dark-grey);
  list-style: none;
  display: block;
}
.section--lorem {
  background: var(--white);
  display: flex;
  justify-content: center;
}
.section--what-we-do {
  background: var(--white);
  display: flex;
  justify-content: center;
}
.portfolio-fig .address,
.navigation,
.button-por,
.ourteam,
.work {
  list-style: none;
}

.work {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 0 0 94px 0;
}
.portfolio-fig {
  gap: 30px;
  width: 1200px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.portoflio-fig {
  flex-basis: calc(100% / 3);
}
.lorem {
  box-sizing: content-box;
  margin: 0 30px 0 0;
}

.container__textmain {
  width: 1200px;
  margin: 0;
  display: flex;
  display: block;
  padding: 94px 0 94px 0;
  align-content: space-between;
}

.textmain2 {
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 30px;
  max-width: 1200px;
  /* flex-wrap: wrap; */
}
.textmain2 > .lorem:not(:last-child) {
  margin-right: 0;
}
.lorem {
  flex-basis: calc(100% / 4);
}
.container__what-we-do {
  width: 1200px;
  display: flex;
  display: block;
}

.address-linkf {
  color: var(--beige);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}

.street {
  color: var(--white);
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  display: block;
  padding-bottom: 9px;
  width: 246px;
}

.address-text:last-child {
  padding: 9px 0 94px 0;
  width: 231px;
}

.address-text:nth-child(2) {
  width: 231px;
}

/* git */
.address-linkf:hover,
.address-linkf:focus {
  color: var(--blue);
}
/* czesc - "EFETYWNE ROZWIAZANIA..*/
.slider {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.efective-background {
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
}
.solution-header {
  display: flex;
  box-sizing: content-box;
  color: var(--white);
  background-color: var(--dark-grey);
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.35;
  height: 120px;
  width: 696px;
  /* padding-bottom: 30px; */
  /* margin: 0  ; */
  margin-bottom: 30px;
  justify-content: center;
  /* align-items: center; */
}
/* przycisk - zamów usługę */
.button-order {
  display: flex;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--blue);
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: none;

  border-style: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.88;
  box-shadow: var(--box-shadow);
  border-radius: 4px;

  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0px;
  margin: 0;
}

.mail-header,
.telephone-header {
  color: var(--light-grey);
}

/* INDEX.HTML t- dotyczy tekstu i naglowków na glownej stronie index.html*/

.text-header {
  display: flex;
  margin: 0 0 10px 0;
  width: 270px;
  height: 16px;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.text-text {
  /* display: flex;
  flex-direction: row; */
  width: 270px;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* index.html - czym sie zajmujemy */
.header-work {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  /* display: block;  */
  justify-content: center;
  /* align-items: center;  */
  /* justify-content: space-between; */
  padding: 0 0 50px 0;
}
.header-team {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.container--our-team {
  width: 1200px;
  margin: 0;
  padding: 94px 0 94px 0;
}
.section--ourteam {
  background: var(--creamy);
  display: flex;
  justify-content: center;
}

.ourteam {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.ourteam-person {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 30px 0 10px 0;
  background: var(--white);
}
.ourteam > .ourteam-people {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
}
.ourteam-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  padding: 0 0 30px 0;
}

.section--ourclients{
  background: var(--white);
  display: flex;
  justify-content: center;
}

.container--our-clients{
  width: 1200px;
  margin: 0;
  padding: 94px 0 50px 0;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.container-icon-client{
  display: flex;
  border: 3px solid black;


}
.icon{
  display: flex;
  fill: red;
  background-color: aqua;

}
.icon:hover{
  background: pink;
}

/* PORTFOLIO.HTML**********************************************************************PORTFOLIO */
/*PORTOFLIO.HTML portfolio-figure - klasa do opisu zdjec+naglowkow w zakladce - portfolio */
.header-por {
  color: var(--black);
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description-por {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.section--button-por {
  background: var(--white);
  display: flex;
  justify-content: center;
}

.container--button-por {
  width: 1200px;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-por {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button--menu {
  color: var(--black);
  background-color: var(--creamy);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03;
  line-height: 1.63;
  display: flex;
  justify-content: center;
  margin: 0px;
  gap: 8px;
  padding: 6px 22px 6px 22px;
  border: 0px;
  border-radius: 4px;
}

.button--menu:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.button--menu:focus {
  background-color: var(--blue);
  color: var(--white);
}

.description-por,
.header-por {
  display: flex;
}

.gallery-section {
  background: var(--white);
  display: flex;
  justify-content: center;
}

.container-gallery {
  width: 1200px;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.container--footer {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.logo--footer {
  padding: 60px 0 20px 0;
  width: 145px;
  margin: 0;
  justify-content: flex-start;
}
.footer-section {
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
}
