@import "./base/common";
@import "./base/container";
@import "./base/section";
// @import "./base/frame";

@import "./components/animation";
@import "./components/backdrop";
@import "./components/close-btn-form.scss";
@import "./components/footer-join";
@import "./components/footer-logo";
@import "./components/footer-media";
@import "./components/footer-news";
@import "./components/header-contact";
@import "./components/header-logo";
@import "./components/hidden.scss";
// @import "./components/mobile-menu";
@import "./components/modal-btn";
@import "./components/modal";
@import "./components/overlay";
@import "./components/what-we-do-hidden";





@import "./layout/efective";
@import "./layout/header";
@import "./layout/mobile-menu-main";
@import "./layout/footer";
@import "./layout/ourclients";
@import "./layout/ourteam";


@import "./layout/textmain";
@import "./layout/whatwedo";
// @import "./mobile-menu.scss";

@import "./pages/index";


@import "./utils/variables";

@import "./utils/variables";
