.nav__container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  position: relative;
}
.nav__container--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  height: 16px;
  padding: 32px 0 32px 0;

    &__item{
    display: flex;
    align-items: center;
    
  }
}



.navigation__link {
  /* font-family: Roboto; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02;
  color: var(--black);
  padding: 23px;
  position: relative;

    &:hover,
    &:focus {
    color: var(--blue);
    transition: var(--transition-hover);
  }
}

.contact-header__mail{
  color: var(--light-grey);
  font-size: 14px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;

    &:hover .contact-header__icon ,
    &:focus .contact-header__icon {
      fill: var(--blue);
      transition: var(--transition-hover);
    }
}

.contact-header__tel {
  color: var(--light-grey);
  font-size: 14px;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 31px;

  &:hover .contact-header__icon ,
  &:focus .contact-header__icon {
    fill: var(--blue);
    transition: var(--transition-hover);
  }
}




.contact-header {
  box-sizing: border-box;
  display: flex;
  align-items: center; 
  
    &__icon {
    margin-right: 10px;
  }


    &__mail:hover,
    &__mail:focus {
    color: var(--blue);
    transition: var(--transition-hover);
}

    &__tel:hover,
    &__tel:focus {
      color: var(--blue);
      transition: var(--transition-hover);
    }


}


