.textmain{
  display: flex;
  max-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}

.textmain__list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
}

.textmain__item{
   flex-wrap: wrap;
   max-width: 450px;
}

@media screen and (min-width: 768px){
  .textmain__item{
    width: 354px;
  }
}
@media screen and (min-width: 1200px){
  .textmain__item{
    width: 270px;
  }
}

.textmain__icon{
  background-color: var(--creamy);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.textmain__title{
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.textmain__text{
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: Roboto;
  color: var(--light-grey);
}

