.footer-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px; 
  max-width: 1200px;
}

.footer-logo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  
  &__logo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.footer{
  &--web{
    color: var(--blue);
  }
  &--studio{
    color: var(--white);
  }
}

.address{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.street {
  color: var(--white);
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  display: flex;
  padding-bottom: 9px;
 
}

.address__link {
  color: var(--beige);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  display: flex;
  align-items: center;
  justify-content: center;


    &:hover,
    &:focus {
    color: var(--blue);
    transition: var(--transition-hover);
  }

}

@media screen and (min-width: 768px){
  
  .footer-container{
 display: flex;
 flex-direction: row;
  flex-wrap: wrap;
 

}
.footer-logo{
  margin-right: 165px;
  margin-bottom: 60px;
}
.footer-join{
  margin-bottom: 60px;
  text-align: center;
}
}

@media screen and (min-width: 1200px){
  
  .footer-container{
 display: flex;
 flex-direction: row;
  // flex-wrap: wrap;
  justify-content: flex-start;

  .footer-logo{
    display:flex;
    justify-content: flex-start;
  }
 

}
}