@media screen and (max-width: 1199px){
  .footer-newsletter__email{
    max-width: 450px;
    min-width: 320px;
    width: 100vw;

  }
  .footer-newsletter__label{
    flex-direction: column;
  }
}


//TABLET//
@media screen and (min-width: 768px){
  
    .footer-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    
    // justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

   .footer-container-tablet{
        display: flex;
        justify-content: space-between;
        margin: 0;
        max-width: 1199px;
        width: 100vw;
    }

  .footer-logo{
    display: flex;
    margin: auto;
     }
  .footer-join{  
    display: flex;    
    margin: auto;
    margin-top: 0;
        &__header{
        margin-top: 65px;
      }
    }
    
    .footer-newsletter{
        display: flex;
        margin: auto;
        margin-top: 60px;
    }
}


//laptop//

@media screen and (min-width: 1200px){

.footer-container{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  position: relative;

}
.footer-logo,
.address, 
.footer-join,
.footer-container-tablet{
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-left: 0;
}
.footer-logo{
  margin-right: 70px;
}
.footer-newsletter{
  display: flex;
  justify-content: center;
}
  .footer-newsletter__email{
    width: 358px;
    // margin-right: 10px;
    top: 108px;
    position: absolute;
    right: 260px;
  }
  .footer-newsletter__label{
    flex-direction: row;
    align-items: center;

  }
  .footer-newsletter__header{
    justify-content: flex-start; 
    align-items: flex-start;
    margin-left: 0;
    top: 70px;
    right: 410px;
    position: absolute;
  }
  .footer-container-tablet{
    top: 5px;
    position: absolute;
  }
  .footer-newsletter__btn{
    top: 108px;
    position: absolute;
    right: 50px;
  }
}
