
@media screen and (min-width: 768px){
  
    .footer-container{
    display: flex;
    flex-direction: row;
 justify-content: flex-start;
    width: 100vw;
   
  

  }
  .footer-logo{
    // margin-right: 165px;
    display: flex;
    margin-bottom: 60px;
    
  }
  .footer-join{
    margin-bottom: 60px;
    margin-top: 40px;
    display: flex;
    // margin-right: 76px;
    // text-align: center;
  }
}

@media screen and (min-width: 1200px){
  

  .footer-container{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    max-width: 1200px;
    width: 100vw;
    }

    .footer-logo,
    .address{
      display:flex;
      // justify-content: flex-start;
      align-items: flex-start;
    }

    .footer-logo{
       margin-right: 70px;
    }
    .footer-join{
        margin-right: 78px;
        align-items: flex-start;
        margin-top: 0;
      }

      .footer-join__header{
        padding-top: 70px;
      }
    .footer-newsletter{
        display: flex;
        flex-direction: row;
       }
    .footer-newsletter__label{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      }
    .footer-newsletter__email{
    display: flex;
    //   flex-direction: row;
      width: 358px;
      margin-right: 12px; 
    }
    .footer-newsletter__btn{
      margin: 0;
    }
}
 

