.contact-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;      
}


.contact-header__mail{
  color: var(--light-grey);
  font-size: 14px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;

    &:hover .contact-header__icon ,
    &:focus .contact-header__icon {
  fill: var(--blue);
  transition: var(--transition-hover);
}
}

.contact-header__tel {
  color: var(--light-grey);
  font-size: 14px;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 31px;

    &:hover .contact-header__icon ,
    &:focus .contact-header__icon {
    fill: var(--blue);
    transition: var(--transition-hover);
  }
}
.contact-header__icon {
  margin-right: 10px;
}





.contact-header__mail:hover,
.contact-header__mail:focus {
  color: var(--blue);
  transition: var(--transition-hover);
}
.contact-header__tel:hover,
.contact-header__tel:focus {
  color: var(--blue);
  transition: var(--transition-hover);
}
