
.modal{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 528px;
  height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--shadow-window);
  position: absolute;
  visibility: visible;
  opacity: 1;
  
}

.modal__form{
  display: flex;
  flex-direction: column;
  margin: 40px;
  max-width: 448px;
  justify-content: center;
  /* align-items: center; */

}

.modal__form-title{
  width: 448px;
  height: 23px;
  color: var(--delicate-black);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom:  30px; 
}
.modal__label{
  width:24px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--light-grey);
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__cell{
  width: 448px;
  height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  display: flex;
  flex-direction: column;
}
.modal__text-icon{
  position: relative;
}
.modal__svg{  
  fill: var(--delicate-black);
  position: absolute;
  top: 14px;
  left: 15px;
}

.modal__cell:focus-within + svg{
  fill: var(--blue);
  border-color: var(--blue);
  border:  none;
}

.modal__cell:focus-visible{
  border-color: var(--blue);
  
}
.modal__text-icon:hover .modal__svg,
.modal__text-icon:focus .modal__svg{
  fill: var(--blue);
  transition: var(--transition-hover);

}
.modal__text-icon:hover .modal__cell,
.modal__text-icon:focus .modal__cell{
 border-color: var(--blue);
transition: var(--transition-hover);
}
.modal__svg-check{
  fill: var(--white);
  background-color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin-right: 7px;
  transition-property: fill;
  transition: var(--transition-hover);
  cursor: pointer;
  border: 1px solid var(--delicate-black);

} 

.checkbox__reg-policy:checked + .modal__svg-check{
  fill: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
} 
.checkbox__reg-policy + .modal__svg-check{
  fill: var(--white);
  background-color: var(--white);
  border-color: var(--grey);
} 
.modal__link-reg-pol:hover{
  color: var(--dark-blue)
}
.modal__checkbox{
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: relative;

}
.checkbox__reg-policy{
 appearance: none; 
  /* -webkit-appearance: none; */
  cursor: pointer;
  
}

.modal__text-icon .modal__svg:hover{
  fill: var(--blue);
  color: var(--blue);
  transition: var(--transition-hover);
}

textarea{
  width: 448px;
  height: 120px;
  resize: none;
  padding: 10px 14px 10px 14px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 14px;
  font-size: 12px;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
textarea:hover{
  border-color: var(--blue);
  transition: var(--transition-hover);
}

.modal__link-reg-pol{
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;

}
.modal__link-reg-pol:hover{
  color: var(--dark-blue)
}


.close-btn{
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  color: var(--black);
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
  border:  1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;

}
.close-btn__icon{
  border-radius: 50%;
  position: relative;  
}
.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon{
  background-color: var(--grey-grey);
  fill: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
















