* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

* svg {
  fill: var(--delicate-grey);
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--light);
  color: var(--light-grey);
  text-decoration: none;
}
a {
  text-decoration: none;
}

.gallery__list .address,
.navigation,
.menu-portfolio,
.our-team__list,
.what-we-do__list,
.our-clients__list {
  list-style: none;
}
header {
  background: var(--white);
}
footer {
  background-color: var(--dark-grey);
}

figcaption {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--white-light);
  border-top: 0;
}


.icon:hover,
.icon:focus {
  fill: var(--blue);
  transition: var(--transition-hover);
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.icon-socialmedia {
  border-radius: 50%;
}

img{
  display: block;
  min-width: 100%;
  height: auto;
}
@media screen and (min-width: var(--mobile)){
body{
    font-family: "Roboto", "Raleway", sans-serif;
  background: var(--light);
  color: var(--light-grey);
  text-decoration: none;

}
}

@media screen and (min-width: var(--tablet)){
body{
    font-family: "Roboto", "Raleway", sans-serif;
  background: var(--light);
  color: var(--light-grey);
  text-decoration: none;


}
}
@media screen and (min-width: var(--desktop)){
body{
  font-family: "Roboto", "Raleway", sans-serif;
  background: var(--light);
  color: var(--light-grey);
  text-decoration: none;


}
}