.section--header {
  background: var(--white);
  border-bottom: 1px solid var(--almost-white);
  display: flex;
  justify-content: center;

}

.efective-background {
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}
.section-text {
  background: var(--white);
  display: flex;
  justify-content: center;
}
.section--what-we-do {
  background: var(--white);
  display: flex;
  justify-content: center;
}
.section-ourteam {
  background: var(--creamy);
  display: flex;
  justify-content: center;
}
.section-ourclients {
  background: var(--white);
  display: flex;
  justify-content: center;
}

 .footer-section {
  background: var(--dark-grey);
  display: flex;
  justify-content: center; 
 }
//  portoflio - page//


.section--menu-portfolio {
  background: var(--white);
  display: flex;
  justify-content: center;
}

.section--gallery {
  background: var(--white);
  display: flex;
  justify-content: center;
}

.footer-section {
  background: var(--dark-grey);
  display: flex;
  justify-content: center; 
  
}

